.border {
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: crimson;
    /* border: 3px solid crimson; */
    border-radius: 10px;
    /* border-bottom: 5px solid rgb(59, 222, 83); */
    /* border-top: 5px solid rgb(59, 222, 83); */
    /* border-left: 5px solid rgb(59, 222, 83); */
    /* border-right: 5px solid rgb(59, 222, 83); */
}