body {
    background-color: bisque
}

h1 {
    text-align: center;
    color: red;
}

@media screen and (max-width: 900px) {
    body {
        background-color: aqua;
    }

    h1 {
        color: navy
    }

    p {
        border: 1px solid rgb(249, 21, 21);
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: black;
        color: white;
    }

    h1 {
        color: rgb(0, 234, 255);
        text-shadow: 2px 2px 5px rgb(2, 33, 82);
    }
}